# -*- coding: utf-8 -*-
# vim: ft=yaml
---
libvirt:
  # lookup:
  #   # override map.jinja and defaults.yaml
  # daemon_opts:
  #  libvirtd_opts: '-d'

  libvirtd:
    listen_tls: 0
    listen_tcp: 0
    tls_port: '16514'
    tcp_port: '16509'
    listen_addr: 0.0.0.0
    unix_sock_group: 'root'
    unix_sock_ro_perms: '0777'
    unix_sock_rw_perms: '0770'
    auth_unix_ro: 'none'
    auth_unix_rw: 'none'
    auth_tcp: 'none'

  tofs:
    # The files_switch key serves as a selector for alternative
    # directories under the formula files directory. See TOFS pattern
    # doc for more info.
    # Note: Any value not evaluated by `config.get` will be used literally.
    # This can be used to set custom paths, as many levels deep as required.
    files_switch:
      - any/path/can/be/used/here
      - id
      - roles
      - osfinger
      - os
      - os_family

    # All aspects of path/file resolution are customisable using the options below.
    # This is unnecessary in most cases; there are sensible defaults.
    # Default path: salt://< path_prefix >/< dirs.files >/< dirs.default >
    #         I.e.: salt://template/files/default
    # path_prefix: template_alt
    # dirs:
    #   files: files_alt
    #   default: default_alt

    # The entries under `source_files` are prepended to the default source files
    # given for the state
    source_files:
      libvirt-server-config-files-libvirtd-file-managed:
        - 'libvirtd_alt.conf.jinja'
      libvirt-server-config-files-daemonconfig-file-managed:
        - 'daemon_libvirtd_alt.jinja'
