libvirt:
  #lookup:
  # - override map.jinja and defaults.yml
  #daemon_opts:
  #  libvirtd_opts: '-d'

  libvirtd:
    listen_tls: 0
    listen_tcp: 0
    tls_port: '16514'
    tcp_port: '16509'
    listen_addr: 0.0.0.0
    unix_sock_group: 'root'
    unix_sock_ro_perms: '0777'
    unix_sock_rw_perms: '0770'
    auth_unix_ro: 'none'
    auth_unix_rw: 'none'
    auth_tcp: 'none'
