{## start with defaults from defaults.yaml ##}
{% import_yaml "libvirt/defaults.yaml" as default_settings %}

{##
Setup variables using grain['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
    'Debian': {
      'libvirt_pkg': 'libvirt-bin',
      'libvirt_service': 'libvirtd' if grains.get('osmajorrelease', 0)|float >= 8 else 'libvirt-bin',
      'qemu_pkg': 'qemu-kvm',
      'python_pkg': 'python-libvirt',
      'extra_pkgs': ['libguestfs0', 'libguestfs-tools', 'gnutls-bin', 'virt-top'],
      'daemon_config_path': '/etc/default',
    },
    'RedHat': {
      'extra_pkgs': ['libguestfs'],
      'daemon_config_path': '/etc/sysconfig',
    },
    'Arch': {
      'daemon_config_path': '/etc/conf.d',
    },
  }, grain="os_family", merge=salt['pillar.get']('libvirt:lookup'))
%}
  
{% do default_settings.libvirt.update(os_family_map) %}

{% set libvirt_settings = salt['pillar.get']('libvirt', default=default_settings.libvirt, merge=True) %}
